body {
    font-family: 'Source Sans Pro', sans-serif;
}

div.head {
    background-color: #333333;
    color: white;
    padding-left: 230px;
    padding-bottom: 1px;
    padding-top: 5px;
}
h1 {
    margin: 5px;
}
p{
    margin:5px;
}
.row {
    display: flex;
}
.col{
    flex: 1;
}
.style {
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
}
img {
    width: 100%;
    height: auto;
}
.container {
    width: 1200px;
    margin: 0 auto;
}